body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a { 
  color: inherit;
  text-decoration: none;
} 

@media (max-width:900px) {
  h2 {
    font-size: 12px;
  }
}

.desktop-hidden{
  display:none;
}

@media (max-width:900px) {
  .mobile-hidden{
    display:none;
  }
  .mobile-show{
    display:block;
  }
}

.nav-bar {
  display:flex;
  align-items: center;
}

@media (max-width:900px) {
  .nav-bar {
    flex-wrap:wrap;
  }
}

.nav-bar img{
  height:58px;
}
@media (max-width:900px) {
  .nav-bar img {
    height:29px;
  }
}


.nav-bar-ul {
  display:flex;
  margin-left:auto;
  font-size:20px;
}
@media (max-width:900px) {
  .nav-bar-ul {font-size:12px;}
}

.nav-bar-li{
  display:inline;
  list-style-type: none;
  margin-right:52px;
  vertical-align: middle;
}
@media (max-width:900px) {
  .nav-bar-li {margin-right:8px;}
}

.nav-bar-li img {
  height:45.99px;
}
@media (max-width:900px) {
  .nav-bar-li img {height:23px;}
}

.services {
  display:flex;
  color:dimgrey;
  text-align:center;
  height:100%;
}
@media (max-width:900px) {
  .services {flex-wrap:wrap;}
}

.services div {
  width:33%;
  border: 2px solid;
  border-color:rgb(155,39,53);
  margin-right:20px;
  opacity:0.8;
}
@media (max-width:900px) {
  .services div {
    width:100%;
    margin:0 auto;
    font-size:12px;
  }
}

.services div:hover {
  opacity:1;
  color:rgb(155,39,53);
}

.service-photo{
  width:79%;
}
@media (max-width:900px) {
  .service-photo {
    width:60%;
  }
}

.footer{
  display:flex;
  justify-content: center;
  font-size:15px;
}
@media (max-width:900px) {
  .footer {
    font-size:12px;
  }
}

.footer p {
  margin-right:30px;
}

.dropdown {
  position:relative;
  display:inline-block;
}

.dropdown-content{
  display:none;
  position:absolute;
  z-index:1;
  background-color:#f1f1f1;
  width:200px;
  font-size:20px;
}
@media (max-width:900px) {
  .dropdown-content {
    font-size:12px;
  }
}

.dropdown-content a {
  padding:20px 16px;
  text-decoration:none;
  display:block;
}

.dropdown-content a:hover{
  background-color:#ddd
}
.dropdown:hover .dropdown-content {
  display:block
}

/*Formatting of forms-Start*/
.form-field{
  border: 1px solid;
  border-color:dimgray;
  border-radius:30px;
  padding:30px;
  width:600px;
  margin:0 auto;
  margin-top:30px;
  box-shadow: inset 0px 0px 15px dimgray;
  font-size:20px;
}
@media (max-width:900px) {
  .form-field {
    width:300px;
    font-size:12px;
    padding:10px;
  }
}
.form-field * {
  box-sizing: border-box;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width:900px) {
  .flex-outer {
    max-width:300px;
  }
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

@media (max-width:900px) {
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 60px;
    max-width: 110px;
  }
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}
@media (max-width:900px) {
  .flex-outer > li > label + * {
    flex: 1 0 110px;
  }
}

input {
  font-size:20px;
}
@media (max-width:900px) {
  input {
    font-size:12px;
  }
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  font-size:16px;
}
@media (max-width:900px) {
  .flex-outer li button {
    font-size:12px;
    padding:0px;
  }
}
/*Formatting of forms-End*/

.signupmessage{
  margin-top:20px;
  font-size:20px;
  font-weight:bold;
}
@media (max-width:900px) {
  .signupmessage {
    margin-top:5px;
    font-size:12px;
  }
}

.signupmessage a {
  text-decoration:underline;
}

.error-message{
  color:rgb(155,39,53);
}

.welcome_Message_after_Loggin {
  font-size:20px;
  margin-bottom:20px;
}

/* BI page - begin */
.detail{
  display:flex;
}

.detail .comment {
  width:500px;
  margin:0 auto;
  font-size:18px;
}

@media (max-width:900px) {
  .detail{
    flex-wrap:wrap;
  }
  .detail .comment {
    font-size:11px;
  }
}
/* BI page - end */

/* Training - begin */
.lessons {
  display:flex;
  justify-content: space-evenly;
}

.lesson {
  padding:30px;
  width:600px;
  display:flex;
  flex-direction:column;
  font-size:18px;
}

.lesson-title {
  background-color:rgb(31, 30, 30);
  color:white;
  height:2em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.lesson ol li {
  margin-bottom:20px;
}

@media (max-width:900px) {
  .lessons{
    flex-wrap:wrap;
  }
  .lesson {
    padding:0px;
    font-size:11px;
  }
}
/* Training - end */

/* Internal Control - begin */
.internal-control {
  display:flex;
}

.internal-control-detail {
  width:50%;
}

.internal-control-detail img {
  width:90%;
}

.internal-control-detail h3 {
  text-align:center;
}

.purchasing {
  margin-bottom:100px;
}

@media (max-width:900px) {
  .title h2{
    font-size:12px;
  }
  .internal-control {
    flex-wrap:wrap;
    font-size:11px;
  }
  .internal-control-detail {
    width:100%;
  }
  .purchasing {
    margin-bottom:0px;
  }
}
/* Internal Control - end */

/* Your account page - begin */
.welcome-message {
  text-align:right;
  font-size:20px;
  font-style:italic;
  padding-right:calc(1.8em + 1vw);
  color: #fff;
  background-color: #767676;
}
@media (max-width:900px) {
  .welcome-message{
    font-size:12px;
  }
}

.project-status-field{
  display:flex;
  justify-content:space-evenly;
}

.project-status{
  width:70px;
  border-radius:50%;
  text-align: center;
  background-color:silver;
  color:white;
  font-size: 10px;
  padding:35px 0;
  line-height:0;
  position:relative;
}

.project-status-active {
  background-color: rgb(155,39,53);
  color:white
}

.account-body{
  background:#edecec;
  height:100%;
  padding:20px;
}

.account-part {
  background:white;
  padding:10px;
}

.account-part-title {
  border-bottom:1px solid dimgray;
}

.account-part ul {
  list-style-type:none;
}

.account-part ul li {
  margin-bottom:10px;
}

.account-part ul li div {
  background:#edecec;
  height:50px;
  display:flex;
  align-items: center;
}

.account-part ul li div p {
  flex: 1;
}

.hyper {
  font-weight:bold;
  color:rgb(155,39,53);
}

.consult-project p {
  margin-right:20px;
}

.consult-project form button {
  font-size:14px;
  margin-right:10px;
}

.project-detail-field {
  background:#edecec;
  padding:20px;
  height:100vh;
  font-size:15px;
  box-sizing: border-box;
}
@media (max-width:900px) {
  .project-detail-field{
    font-size: 12px;
  }
}

.project-details-flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
}

.project-details-flex-outer li {
  display: flex;
  flex-wrap: wrap;
}

.project-details-flex-outer li form {
  margin-left: auto;
  margin-right:10px;
}

.project-details-flex-outer li form button {
  font-size:15px;
  border-radius: 10px;
}
@media (max-width:900px){
  .project-details-flex-outer li form button {
    font-size:12px;
  }
}


.project-details-flex-outer > li > .label,
.project-details-flex-outer li .field {
  flex: 1 0 120px;
  background:white;
  height:20px;
  display:flex;
  align-items: center;
}

@media (max-width:900px) {
  .project-details-flex-outer > li > .label{
    background:#edecec;
  }
}

.label, .field {
  flex:1;
  padding:10px;
  border-radius:10px;
  margin-right:10px;
  margin-top:0px;
  margin-bottom:10px;
}

.project-details-flex-outer > li > .label + * {
  flex: 1 0 220px;
}

.comment-form-field {
  width: 600px;
}
@media (max-width:900px) {
  .comment-form-field{
    width:300px;
  }
}
.comment-form-field * {
  box-sizing: border-box;
}

.comment-flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
}

.comment-flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.comment-flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.comment-flex-outer > li > label {
  flex: 1 0 120px;  
  background:white;
  padding:10px;
  border-radius:10px;
  margin-right:10px;
  margin-top:0px;
  margin-bottom:10px;
}

.comment-flex-outer > li > textarea {
  flex: 1 0 220px;
  padding:10px;
  border-radius:10px;
  margin-right:10px;
}

.comment-flex-outer li button {
  margin-left: auto;
  margin-right:10px;
  padding: 8px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 2px;
  font-size:12px;
}
@media (max-width:900px) {
  .comment-flex-outer li button {
    padding:2px;
  }
}

/* Your account page - end */

/* About us page - start */
.slogan {
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:750px;
  height:100px;
  font-size:20px;
  color:white;
  background:dimgray;
}
@media (max-width:900px) {
  .slogan {
    width:300px;
    font-size:12px;
  }
}

.slogan p {
  margin:0 auto;
}
@media (max-width:900px) {
  .slogan p {
    margin:0 auto;
    text-align: center;
  }
}

.slogan-detail {
  width:750px;
  font-size:20px;
  margin:0 auto;
  margin-top: 20px;
  text-align: justify;
  border:1px solid;
  border-radius:10px;
}
@media (max-width:900px) {
  .slogan-detail {
    width:300px;
    font-size:12px;
  }
}

.slogan-detail p {
  padding:20px;
}
/* About us page - end*/

/* Our location page - start*/
.ourlocation {
  background: url(../images/puteaux.jpeg);
  background-size: cover;
  height:100vh;
  font-size:20px;
  text-align: center;
  padding:20px;
}
@media (max-width:900px) {
  .ourlocation {
    font-size:14px;
  }
}
/* Our location page - end*/

/* Contact us page - start*/
.contactus {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size:20px;
  background: url(../images/data.jpeg);
  background-size: cover;
  height:100vh;
  font-weight: bold;;
}

.contactus p {
  background-color:white;
  padding:20px;
  height:100px;
  width: 800px;
  border-radius:20px;
}
@media (max-width:900px) {
  .contactus {
    font-size:14px;
    align-items: flex-start;
  }
  .contactus p{
    width:500px;
  }
}
/* Contact us page - end*/